body {
    background-color: rgb(0, 0, 0);
}
.titulo {
    color: rgb(255, 255, 255);
    font-size: 3cm;
    position: absolute;
    top: 150px;
    left: 400px;
    right: 350px;
    z-index: 5px;
}
.login {
    position: absolute;
    z-index: 5px;
    top: 500px;
    left: 500px;
}

.video {
    margin: 0;
    height: 100px;
    width: 200px;
    z-index: 5px;
    background-color: black;
  }