
* {
    background-color: black;
    margin: 1px;
    border: 2px;
    padding: 1px;
    display: block;
}

.img {
    padding: 1px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 10cm;
    height: auto;
}
#xd{
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 3cm;
    
}
